body {
  margin: 0;
}

.intro {
  background: url('Img/paper-cut-out.jpg') no-repeat center center fixed;
  display: flex;
  background-size: cover;
  padding: 50px 0 100px;
  overflow: hidden;
  height: 500px;
  color: #45430E;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  display: flex;
  align-items: center;
}

.about-us-heading {
  border-top: solid 10px;
  border-bottom: solid 10px;
  font-size: 75px;
  margin-left: 50px;
  margin-right: 10px;
}

.about-us-description {
  width: 750px;
  margin-left: 10px;
  margin-right: 50px;
}

.image {
  width: 400px;
  height: 400px;
}

.image-right {
    width: 400px;
    height: 400px;
    margin-left: 100px;
}

.image-left {
    width: 400px;
    height: 400px;
    margin-right: 100px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.first {
  font-family: 'Jura', sans-serif;
  background: #9E4306 no-repeat;
  color: white;
  background-size: cover;
  padding: 50px;

}

.second {
  background: url('Img/scissor.jpg') no-repeat center center fixed;
  color: white;
  background-size: cover;
  padding: 50px 0 100px;
  overflow: hidden;
  padding: 50px;
}

.third {
  font-family: 'Muli', sans-serif;
  background:white no-repeat;
  background-size: cover;
  padding: 50px;
  color: #123675;
  padding: 50px;
}

.third h1 {
  font-size: 50px;
    color: #69161B;
}

.third p {
  color: #737575;
}

.fourth {
  background: url('Img/glide.jpg') center center fixed;
  background-size: cover;
  padding: 50px 0 100px;
  overflow: hidden;
  color: #7D8085;
  padding: 50px;
}

p {
  margin-top: 0;
}
