#logo {
  background: white;
  border-style: solid;
}

.background {
  background: url('../Img/IMG_2632.JPG') no-repeat 25% 25% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.logo-userName {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
